<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- Tu SVG aquí -->
        </svg>
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
        <a pRipple class="flex align-items-center p-menuitem-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
            <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
            <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center justify-content-between w-full">
            <!-- Campo de búsqueda -->
            <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />

            <!-- Nombre del usuario -->
            <div *ngIf="loggedUser?.name" class="ml-3">
                {{ loggedUser.name }}
            </div>

            <!-- Botón de Login/Logout -->
            <button (click)="_auth.loginWithPopup()" *ngIf="!(_auth.isAuthenticated$ | async); else logoutButton" pRipple class="flex align-items-center p-menuitem-link ml-auto">
                <span [class]="login.icon"></span>
                <span class="ml-2">Login</span>
            </button>
            <ng-template #logoutButton>
                <button (click)="_auth.logout()" *ngIf="(_auth.isAuthenticated$ | async)" pRipple class="flex align-items-center p-menuitem-link ml-auto">
                    <span [class]="login.icon"></span>
                    <span class="ml-2">Logout</span>
                </button>
            </ng-template>
        </div>
    </ng-template>
</p-menubar>
